<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>

	<!-- Add Custom Meta Data -->

		<meta content="dallas cowboys,san francisco 49ers,cowboys,49ers,nfl,tony romo,dez bryant,demarco murray,frank gore,gavin escobar,phil dawson,sportsday,dallas,dallas news,dallas fort worth news,dallas local news,dallas fort worth local news,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper" name="keywords"/>

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="The Dallas Cowboys take on the San Francisco 49ers in the regular season opener of the 2014 season." name="description" />
		<title>Cowboys Gameday: Week 1</title>
		<meta property="og:url" content="http://res.dallasnews.com/interactives/cowboys-gameday-week1"/>
		<meta property="og:title" content="Cowboys Gameday: Week 1"/>
		<meta property="og:description" content="The Dallas Cowboys take on the San Francisco 49ers in the regular season opener of the 2014 season."/>
		<meta property="og:image" content="http://res.dallasnews.com/interactives/cowboys-gameday-week1/images/murray_small_1x.jpg"/>
		<meta property="og:image:height" content="400"/>
		<meta property="og:image:width" content="600"/>

		<meta name='parsely-page' content='{"title": "Cowboys Gameday: Week 1", "link": "http://res.dallasnews.com/interactives/cowboys-gameday-week1", "image_url": "http://res.dallasnews.com/interactives/cowboys-gameday-week1/images/murray_small_1x.jpg", "type": "post", "post_id": "09051332014", "pub_date": "2014-09-05T14:00:00Z", "section": "Cowboys Sports ", "tags": ["dallas cowboys","san francisco 49ers","cowboys","49ers","nfl","tony romo","dez bryant","demarco murray","frank gore","gavin escobar","phil dawson","sportsday","dallas","dallas news","dallas fort worth news","dallas local news","dallas fort worth local news","dallas sports","dallas fort worth sports","dfw news","dallas newspaper","dallas morning news","dallas morning news newspaper"]}'/>

		<meta property="og:keywords" content="dallas cowboys,san francisco 49ers,cowboys,49ers,nfl,tony romo,dez bryant,demarco murray,frank gore,gavin escobar,phil dawson,sportsday,dallas,dallas news,dallas fort worth news,dallas local news,dallas fort worth local news,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper"/>

		<meta name='news_keywords' content='dallas cowboys,san francisco 49ers,cowboys,49ers,nfl,tony romo,dez bryant,demarco murray,frank gore,gavin escobar,phil dawson,sportsday,dallas,dallas news,dallas fort worth news,dallas local news,dallas fort worth local news,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper'/>

		<!-- End Custom Meta Data -->


	<meta property="fb:app_id" content="258290334265148"/>
	<meta property="fb:page_id" content="20946638799"/>
	<meta property="fb:admins" content="1043783589"/>

	<link rel="shortcut icon" type="image/x-icon" href="http://www.dallasnews.com/favicon-premium.ico"/>
	<link rel="stylesheet" type="text/css" href="/interactives/template/common/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/theme.css" />
	<link rel="stylesheet" type="text/css" href="/interactives/template/css/code.css" />
	<link rel="stylesheet" type="text/css" href="/resrsc/premium/www/css/print.css" media="print"/>


	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Merriweather:400,400italic' rel='stylesheet' type='text/css'>


	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	  <script type="text/javascript">
	    WebFont.load({
	      google: { //change custom to google: if using google cdn font
	        families: ['Open+Sans', 'Merriweather'],
	      }
	    });

	    document.createElement('picture');
	</script> 



	<script src="/interactives/template/common/js/jquery-1.10.2.min.js"></script>

	<script src="js/picturefill.js" async></script>	

	<!--[if lt IE 9]><script type="text/javascript" src="/interactives/template/common/respond.min.js"></script><![endif]-->
	<script type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script>
	<script type="text/javascript">
	DFP_networkId = "11222444";
	var DFPSlotSizes = [];
	if (jQuery(window).width() < 768)
	{
	var DFP_sitepage = "m.DMN/interactives";
	DFPSlotSizes = [320,50]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "x01");
	adSlot0.addService(googletag.pubads());
	}
	else
	{
	var DFP_sitepage = "DMN/interactives";
	DFPSlotSizes = [728,90]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "Top");
	adSlot0.addService(googletag.pubads());
	}
	</script>
	<script type="text/javascript">
	googletag.pubads().enableSingleRequest();
	googletag.pubads().enableSyncRendering();
	googletag.enableServices();
	</script>



</head>
<body>
    <header class="bg-black">
		<a class="logo" href="http://www.dallasnews.com"><h1 class="sr-only">The Dallas Morning News</h1><img class="visible-print" src="http://www.dallasnews.com/resrsc/premium/www/img/logo-black.png" alt="The Dallas Morning News"/></a>
	</header>

	<article>


		
		<div id="wrapper">


			<section class="bodyCopy">

				<hgroup class="clearFix">
					<h3>Cowboys Gameday</h3>
					<div class="logoBlock">
						<img class="teamLogo" src="images/49erslogo.jpg" alt="49ers">
						<img class="teamLogo" src="images/cowboysLogo.jpg" alt="Cowboys">
					</div>
					<!-- end logoBlock -->
					<h1>San Francisco 49ers at Cowboys</h1>
					<h2>3:25 Sunday <strong>TV: </strong>Ch. 4</h2>
					<h2><strong>Radio: </strong> KRLD-FM (105.3), KMVK-FM (107.5 in Spanish)</h2> 
					<h2><strong>Line: </strong>49ers by 5</h2>
				</hgroup>

				<section class="bylineBlock">
    	    		<p>By <a target="blank" href="mailto:rsabin@dallasnews.com">Rainer Sabin</a> | Staff Writer</p>
       			</section>
        		<!-- end bylineBlock -->

	      		<div class="shareComments">
					<ul id="share-bar1" class="width-auto-hack"></ul>
				</div>


        		<section id="winLoss" class="clearFix">

        			<div id="win">

        				<p class="subhead">A win would mean ...</p>
        				<p>The Cowboys win their third consecutive season opener and improve their all-time record against San Francisco in regular-season and playoff games to 17-16-1.</p>

        			</div>
        			<!-- end win -->

        			<div id="loss">

        				<p class="subhead">A loss would mean ... </p>
        				<p>No surprises. The Cowboys aren&rsquo;t favored to win this game. But a defeat would prolong the negativity surrounding a franchise that went 0-4 in the preseason.</p>

        			</div>
        			<!-- end loss -->

        		</section>
        		<!-- end winLoss -->


				</section>

				<div class="fullImageBlock imageBlock">
					<h3 class="sectionHead">Four downs <span class="light">Key to the game</span></h3>
					<picture>
		                <!--[if IE 9]><video style="display: none;"><![endif]-->
		                <source srcset="images/murray_large_1x.jpg, images/murray_large_2x.jpg 2x" media="(min-width: 1200px)">
		                <source srcset="images/murray_medium_1x.jpg, images/murray_large_1x.jpg 2x" media="(min-width: 601px)">
		                <source srcset="images/murray_small_1x.jpg, images/murray_small_2x.jpg 2x" media="(min-width: 1px)">
		                <!--[if IE 9]></video><![endif]-->
		                <img srcset="images/murray_small_1x.jpg, images/murray_small_2x.jpg 2x" alt="The Cowboys are 11-0 when DeMarco Murray carries the ball at least 20 times in a game. (Vernon Bryant/Staff Photographer)">
		            </picture>

		            <p class="cutline">The Cowboys are 11-0 when DeMarco Murray carries the ball at least 20 times in a game. (Vernon Bryant/Staff Photographer)</p>

				</div>
				<!--end imageBreaker -->

				<section class="bodyCopy">

					<section id="fourKeys" class="clearFix">

						<ul>
							<li>
								<h3>1</h3>
								<p class="subhead">Protect Romo</p>
								<p>Shielding Tony Romo will be the top priority for the Cowboys all season. They have no chance without their veteran quarterback. Romo is 34 and barely eight months removed from major back surgery. He completed 60.9 percent of his preseason pass attempts for 167 yards &mdash; hardly enough quality work to dispense with doubts about his durability. The 49ers&rsquo; pass rush is weakened because of the suspension of Aldon Smith. But this defense still can generate sustained pressure that could pose problems for Romo.</p>
							</li>
							<li>
								<h3>2</h3>
								<p class="subhead">Limit the 49ers rushing offense</p>
								<p>The Cowboys&rsquo; run defense during the preseason was unsightly. Opponents averaged 4.3 yards per carry while Dallas&rsquo; frontline players struggled to penetrate or shed blocks. This can&rsquo;t happen against the 49ers. The Cowboys will have to be disciplined with their run fits and understand their gap responsibilities as they try to limit San Francisco quarterback Colin Kaepernick, a speedy threat who rushed for a career-high 524 yards last season. Kaepernick and perennial Pro Bowl running back Frank Gore must be contained if the Cowboys are to have a chance.</p>
							</li>
							<li>
								<h3>3</h3>
								<p class="subhead">Force turnovers</p>
								<p>The Cowboys were at their best last season when they were able to take the ball away from their opponents. In the first half of the 2013 campaign, the Cowboys created nine more turnovers than they committed. When they won during that eight-game stretch, their average margin was 14.5 points. When they lost, the average margin was only 3.5 points. The numbers indicate the Cowboys can hang with anybody if they can generate takeaways. But here&rsquo;s the problem: No team has committed fewer turnovers than the 44 the 49ers have coughed up since 2011.</p>
							</li>
							<li>
								<h3>4</h3>
								<p class="subhead">Establish running game</p>
								<p>The Cowboys said throughout the offseason that they would show a stronger allegiance to the running game than in recent seasons. It&rsquo;s important that they follow through on that commitment. The Cowboys are 11-0 when DeMarco Murray carries the ball at least 20 times in a game. A strong performance by Murray could not only help Dallas defeat San Francisco, but it could set the tone for the rest of the season as the Cowboys try to prove they are a physical bunch with their revamped offensive line.</p>
							</li>																		

						</ul>

					</section>
					<!-- end fourKeys -->

				</section>
				<!-- end bodyCopy -->

				<section id="matchup" class="clearFix">

				<h3 class="sectionHead">How they match up</h3>

					<div id="matchupContent" class="clearFix">

						<div class="matchupBlock">
							
							<div id="cowboysRun" class="activeBlock">
								<p class="subhead">When the Cowboys run the ball</p>
								<<p>First-year Cowboys play-caller Scott Linehan has vowed to make a commitment to the running game. Dallas ran the ball only 336 times in 2013, second fewest behind Atlanta. In 2013, San Francisco had the fourth-best run defense. But the 49ers&rsquo; front seven won&rsquo;t include Glenn Dorsey, NaVorro Bowman or Aldon Smith. But defensive tackle Ray McDonald will play. <strong>Edge: </strong>Cowboys</p>
							</div>
							<!-- end cowboysRun -->

							<div id="cowboysPass">
								<p class="subhead">When the Cowboys pass the ball</p>
								<p>Tony Romo hasn&rsquo;t played a full game since undergoing surgery to repair a herniated disk Dec. 27. But he has a bevy of offensive weapons, foremost among them Pro Bowlers Dez Bryant and Jason Witten. The 49ers curtailed big plays last season, conceding only 48 of 20 yards or more. <strong>Edge: </strong>Cowboys</p>
							</div>
							<!-- end cowboysPass -->

							<div id="oppRun">
								<p class="subhead">When the 49ers run the ball</p>
								<p>For the first time in a while, the 49ers&rsquo; offensive line has some question marks. Whether that will affect Frank Gore&rsquo;s productivity is uncertain. Gore ran for 1,128 yards last season. He forms a fearsome duo with mobile QB Colin Kaepernick, who could present problems for Dallas&rsquo; weak defensive front. <strong>Edge: </strong>49ers</p>
							</div>
							<!-- end oppRun -->

							<div id="oppPass">
								<p class="subhead">When the 49ers pass the ball</p>
								<p>Last season, quarterbacks threw for 400 or more yards against Dallas, an NFL record. This year, the pass defense looks even worse. Orlando Scandrick, the team&rsquo;s top cornerback in 2013, is suspended for the first four games. His replacement, Morris Claiborne, didn&rsquo;t play in the preseason. <strong>Edge: </strong>49ers</p>
							</div>
							<!-- end oppPass -->

							<div id="specialTeams">
								<p class="subhead">Special teams</p>
								<p>The Cowboys excelled in special teams last season. And while there has been considerable turnover within each of the units, the key contributors remain. They include Dan Bailey, who has converted 90.8 percent of his field goal attempts. San Francisco&rsquo;s Phil Dawson struggled in the preseason, making only four of six tries. <strong>Edge: </strong>Cowboys</p>
							</div>
							<!-- end specialTeams -->

							<div id="intangibles">
								<p class="subhead">Intangibles</p>
								<p>A tumultuous 0-4 preseason has ended for the Cowboys. But it seems certain that it will continue to haunt them. The Cowboys, who are 22-18 at AT&amp;T Stadium, don&rsquo;t have the distinct home-field advantage necessary overcome the bad karma that seems to have afflicted the franchise. <strong>Edge: </strong>49ers</p>
							</div>
							<!-- end intagibles -->

						</div>

				</section>
				<!-- end matchup -->

				<section class="bodyCopy">

					<section id="spotlight" class="clearFix">

						<h3 class="sectionHead">Spotlight</h3>

						<picture class="mainImageBlock">
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="images/romoKnockout.jpg, images/romoKnockout.jpg 2x" media="(min-width: 1001px)">

										<source srcset="images/romoStandard_medium_1x.jpg, images/romoStandard_medium_2x.jpg 2x" media="(min-width: 401px)">
										<source srcset="images/romoStandard_small_1x.jpg, images/romoStandard_small_2x.jpg 2x" media="(min-width: 1px)">

										<!--[if IE 9]></video><![endif]-->
										<img srcset="images/romoKnockout.jpg, images/romoKnockout.jpg 2x" alt="Questions linger about how well Tony Romo will rebound from his offseason back surgery. (Vernon Bryant/Staff Photographer)">

						<p class="cutline">Questions linger about how well Tony Romo will rebound from his offseason back surgery. (Vernon Bryant/Staff Photographer) </p>
						</picture>	
						<p class="subhead">Romo carries over doubts from offseason</p>

						<p>Throughout the offseason, the attention of Cowboys followers has been focused on the condition of <strong>Tony Romo</strong>. He underwent back surgery Dec. 27 to repair a herniated disk. More than eight months later, he&rsquo;s fit to play.</p>

						<p>But questions persist about the 34-year-old quarterback, who enjoyed one of his most productive seasons in 2013. Though he&rsquo;s not far removed from producing 3,828 passing yards, 31 touchdown passes and a 96.7 efficiency rating, it&rsquo;s uncertain whether Romo can continue to perform at that level.</p>

						<p>&ldquo;I think he&rsquo;s going to be great,&rdquo; tight end Jason Witten said. &ldquo;It&rsquo;s been a good offseason for him. I think he&rsquo;s worked really hard at doing all the little things that allow him to be successful and get back, and I thought throughout training camp he got better and better and better ... .&rdquo;</p>

						<p>Romo, with a certain measure of nonchalance, says he&rsquo;s prepared to do just that.</p>

						<p>&ldquo;You&rsquo;ve just got to go play,&rdquo; he said.</p>

						<p>It&rsquo;s his first opportunity to show he is the Tony Romo of old.</p>

					</section>
					<!-- end spotlight -->


					<section id="fantasy" class="clearFix">

						<h3 class="sectionHead">Fantasy Corner</h3>

						<div id="start" class="fantasyPair clearFix">

							<p class="subhead">Two to start</p>

							<div class="fantasyPlayer">
								<img src="images/bryant.png" alt="Dez Bryant" >
								<p class="subhead">Dez Bryant, WR, Cowboys</p>
								<p>Scott Linehan&rsquo;s track record suggests that Bryant will get a lot of opportunities this season. He should have his way against 49ers cornerbacks Tramaine Brock and Chris Culliver, who have started a combined 13 games.</p>
							</div>
							<!-- end fantasyPlayer -->

							<div class="fantasyPlayer">
								<img src="images/gore.png" alt="Frank Gore" >
								<p class="subhead">Frank Gore, RB, 49ers</p>
								<p>The Cowboys&rsquo; run defense looked horrible in the preseason. Gore has been selected to the Pro Bowl the last three seasons. He should feast on Dallas.</p>
							</div>		
							<!-- end fantasyPlayer -->

						</div>
						<!-- end start -->	

						<div id="sit" class="fantasyPair clearFix">

							<p class="subhead">Two to sit</p>

							<div class="fantasyPlayer">
								<img src="images/escobar.png" alt="Gavin Escobar" >
								<p class="subhead">Gavin Escobar, TE, Cowboys</p>
								<p>Escobar missed the last two preseason games with a right shoulder injury, and it remains to be seen whether he will be a featured part of the offense this season.</p>
							</div>
							<!-- end fantasyPlayer -->

							<div class="fantasyPlayer">
								<img src="images/dawson.png" alt="Phil Dawson" >
								<p class="subhead">Phil Dawson, K, 49ers</p>
								<p>The Lake Highlands product missed two field goal tries in the preseason, raising concerns about his accuracy. The normally reliable kicker seems capable of getting back on track, but it may make sense to wait a week to see if in fact he does.</p>
							</div>		
							<!-- end fantasyPlayer -->

						</div>
						<!-- end sit -->												


					</section>
					<!-- end fantasy -->

					<section id="projections" class="clearFix">

						<h3 class="sectionHead">SportsDay Picks</h3>

						<div class="writer">
							<img src="images/cowlishaw_small_1x.jpg" srcset="images/cowlishaw_small_1x.jpg 1x, images/cowlishaw_small_2x.jpg 2x" alt="#">
							<p class="subhead">Tim Cowlishaw</p>
							<p class="subheadLight">49ers, 31-21</p>
							<p>49ers run with Gore and run with Hyde to keep Cowboys offense on the bench and under control.</p>
						</div>
						<!-- end writer -->

						<div class="writer">
							<img src="images/george_small_1x.jpg" srcset="images/george_small_1x.jpg 1x, images/george_small_2x.jpg 2x" alt="#">
							<p class="subhead">Brandon George</p>
							<p class="subheadLight">49ers, 31-17</p>
							<p>Brace yourself: It&rsquo;s going to be a long year for Cowboys fans. Tony Romo's back holds up in the opener, but the defense is exposed.</p>
						</div>
						<!-- end writer -->

						<div class="writer">
							<img src="images/goose_small_1x.jpg" srcset="images/goose_small_1x.jpg 1x, images/goose_small_2x.jpg 2x" alt="#">
							<p class="subhead">Rick Gosselin</p>
							<p class="subheadLight">49ers, 27-17</p>
							<p>Not enough &ldquo;D&rdquo; against a team that played for the NFC title last January. </p>
						</div>
						<!-- end writer -->

						<div class="writer">
							<img src="images/horn_small_1x.jpg" srcset="images/horn_small_1x.jpg 1x, images/horn_small_2x.jpg 2x" alt="#">
							<p class="subhead">Barry Horn</p>
							<p class="subheadLight">49ers, 35-28</p>
							<p>Folks in San Francisco are worried about the 49ers. Real worry is Cowboys fans in Dallas.  </p>
						</div>
						<!-- end writer -->

						<div class="writer">
							<img src="images/machota_small_1x.jpg" srcset="images/machota_small_1x.jpg 1x, images/machota_small_2x.jpg 2x" alt="#">
							<p class="subhead">Jon Machota</p>
							<p class="subheadLight">49ers, 31-27</p>
							<p>I expect the Cowboys to fall behind early and abandon the run, which means Tony Romo will be called upon to provide most of the glitz and glamour.</p>
						</div>
						<!-- end writer -->

						<div class="writer">
							<img src="images/moore_small_1x.jpg" srcset="images/moore_small_1x.jpg 1x, images/moore_small_2x.jpg 2x" alt="#">
							<p class="subhead">David Moore</p>
							<p class="subheadLight">Cowboys, 30-27</p>
							<p>Upset in opener doesn't ensure success &mdash; please see last two seasons &mdash; but it does speak to team's competitive and resilient nature.</p>
						</div>
						<!-- end writer -->

						<div class="writer">
							<img src="images/sabin_small_1x.jpg" srcset="images/sabin_small_1x.jpg 1x, images/sabin_small_2x.jpg 2x" alt="#">
							<p class="subhead">Rainer Sabin</p>
							<p class="subheadLight">49ers, 33-21</p>
							<p>San Francisco has been one of the best teams in the league the last three seasons while the Cowboys have been unable to escape the clutches of mediocrity.</p>
						</div>
						<!-- end writer -->

						<div class="writer">
							<img src="images/sherrington_small_1x.jpg" srcset="images/sherrington_small_1x.jpg 1x, images/sherrington_small_2x.jpg 2x" alt="#">
							<p class="subhead">Kevin Sherrington</p>
							<p class="subheadLight">49ers, 35-24</p>
							<p>The closest any Cowboy will come to Kaepernick will be the post-game handshakes, and they probably won't get a grip then, either.</p>
						</div>
						<!-- end writer -->																																										



					</section>
					<!-- end projections -->


				<section class="more clearFix">
					<h1>More from The Dallas Morning News</h1>

					<a href="http://res.dallasnews.com/graphics/2014_09/cowboysfaces/">
						<img src="images/cowboysFaces.jpg" alt="Cowboy Game Faces">
						<h5>Game faces</h5>
						<p>How well do you know your Dallas Cowboys legends? Give our interactive quiz a try to see how you compare to Cowboys diehards.</p>
					</a>

					<a href="http://res.dallasnews.com/interactives/rangers-first-to-worst" >
						<img src="images/cruzShare.jpg" alt="Rangers: First to worst">
						<h5>How the Rangers went from first to worst</h5>
						<p>In 2011, the Rangers were one strike away from winning the World Series. Now they're one of the worst teams in baseball.</p>
					</a>

					<a href="http://res.dallasnews.com/interactives/generation-of-debt/debt" class="last">
						<img src="images/debt.jpg" alt="Generation of Debt">
						<h5>Generation of debt</h5>
						<p>As tuition soars, students are left holding a bag full of debt that has an overall effect on the economy.</p>
					</a>

				</section>
				<!-- end more -->

	      		<div class="shareComments">
	      		
					<ul id="share-bar2" class="width-auto-hack"></ul>

					<div id="comments">

				</div>


			</section>
			<!-- end bodyCopy -->

		</div>
		<!-- end wrapper -->

	</article>

    <!-- end relatedFooter -->


<footer class="bg-dark-gray">
	<div class="container">
		<nav class="footer-list">
			<h2 class="sr-only">Footer Navigation</h2>
			<ul class="inline-list h6">
				<li><a id="loadFeedLot" href="http://www.dallasnews.com/site-map/">Site Map</a></li>
				<li><a href="http://www.dallasnews.com/about-us/">About Us</a></li>
				<li><a href="http://www.dmnmedia.com/">Advertise</a></li>
				<li><a href="http://www.dallasnews.com/contact-us/">Contact Us</a></li>
				<li><a href="http://www.dallasnews.com/privacy-policy/">Privacy Policy</a></li>
				<li><a href="http://www.dallasnews.com/terms/">Terms of Service</a></li>
			</ul>
		</nav>
		<p class="txt-light-gray h6 footer-copy">&copy;2014, The Dallas Morning News Inc. All Rights Reserved.</p>
	</div>
</footer>


<!-- Gigya -->
<!-- Can this be included when initialized? -->
<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_9lzrxJh-GQofXtoOq-ADFDpwOla0DXKJOvVl_KnlZPjeuRyBKYHjyaA2UYgGvXGv&amp;ver=3.0.4">
	{
		lang : 'en',
		enabledProviders: 'facebook,twitter,google,linkedin,yahoo,messenger',
		connectWithoutLoginBehavior: 'alwaysLogin'
	}			
</script>
<!-- Gigya Templates -->
<script id="gigya-new-user-tmpl" type="text/x-jquery-tmpl">
	<div id='gigya-new-user-wrap' class='float-left'>
		<h3 class='label'>Please provide your email address to join</h3>
		<p>
			<label>Email<br>
				<input type='text' name='email' size='20' value='' class='input'>
			</label>
		</p>
		<div class='button-wrap'>
			<input id='gigya-new-user-button' style='width:auto;' type='button' value='Register' class='button-primary'>
		</div>
	</div>
</script>	
<script id="gigya-account-linking-tmpl" type="text/x-jquery-tmpl">
	<div id='gigya-sep-wrap'>
		<div class="sep-line"></div>
		<h3>OR</h3>
		<div class="sep-line"></div>
	</div>
	<div id='gigya-account-linking-wrap'>
		<h3 class='label'>Yes, Please link my existing account with ${user.loginProvider} for quick and secure access</h3>
		<p>
			<label>Email<br>
				<input type='text' size='20' value='' class='input' name='email'>
			</label>
		</p>
		<p>
			<label>Password<br>
				<input type='password' size='20' value='' class='input' name='password'>
			</label>
		</p>
		<div class='button-wrap'>
			<input id='gigya-new-account-button' style='width:auto;' type='button' value='Link Accounts' class='button-primary'>
		</div>
	</div>
</script>	
<script id="gigya-header-tmpl" type="text/x-jquery-tmpl">
	<div id='dialog-header'>
		<div class="ui-helper-clearfix">
		<img class='thumbnail' src='${user.thumbnailURL}'/>
		<p class='text'>
			<b>Hi ${user.firstName}</b>
				{{if isEmailExist}}, The email is already used, please provide a new email or link to an existing account.{{/if}}
				{{if isNewUser}}{{/if}}
		</p>
		</div>	
	</div>
</script>
<!-- End Gigya Templates -->
<!-- End Gigya -->

<script type="text/javascript">
		var storyTitle = "Cowboys Gameday: Week 1",
		    storyURL = "http://res.dallasnews.com/interactives/cowboys-gameday-week1",
		    leadText = "The Dallas Cowboys take on the San Francisco 49ers in the regular season opener of the 2014 season.",
		    storyIMG = "http://res.dallasnews.com/interactives/cowboys-gameday-week1/images/murray_small_1x.jpg",
		    storyAuthor = "Rainer Sabin",
		    comments = true,
		    share = true;
</script>
<script type="text/javascript">OAS_sitepage = 'www.dallasnews.com/sports/cowboys/cowboys-gameday';</script>
<script type="text/javascript" src="/interactives/template/common/js/common-v1.js"></script>
<script type="text/javascript" src="/resrsc/js/biomniture.js"></script>
<script type="text/javascript" src="js/actions-v0.js"></script>
<script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parsely.js"></script>
<script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parselyDynamicTracking.js"></script>



</body>
</html>
